[submodule "lib/mruby"]
	path = lib/mruby
	url = https://github.com/mruby/mruby.git
[submodule "lib/googletest"]
	path = lib/googletest
	url = https://github.com/google/googletest.git
[submodule "assets/fonts/NotoSansCJK"]
	path = assets/fonts/NotoSansCJK
	url = https://github.com/googlei18n/noto-cjk.git
